.page-home {

  .map,
  .map-base {

    height: 80vh;

    @media (max-width: 968px) {
      height: 60vh;
    }

  }

  main {
    padding: 0;
  }

}

.home-hero {

  display: flex;
  color: white;
  font-size: 1.2em;
  background: $red-900;

  @media (max-width: 968px) {
    flex-wrap: wrap;
  }

  p {
    color: $red-50;
  }

  .map {

    width: 80vw;

    @media (max-width: 968px) {
      width: 100%;
    }

  }

  ul {
    list-style: none;
  }

  li {

    &:before {
      content: '🔔';
      margin-left: -2em;
      margin-right: .5em;
    }
  }

}

.home-hero-content {

  min-width: 0;
  text-align: left;
  padding: 2em;

  h1 {

    font-size: 4vw;
    margin-top: 0;
    margin-bottom: .2em;

    @media (max-width: 968px) {
      font-size: 2em;
    }

  }

  a:not(.button) {

    color: $amber-300;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.home-start {

  padding-top: 4em;
  padding-bottom: 4em;

  h2 {
    font-size: 2em;
    margin-top: 0;
  }

  p {
    margin-bottom: 1.2em;
  }

  pre {
    overflow-x: scroll;
    margin-bottom: 1.5em;
  }

}