@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700|Open+Sans:400,700&display=swap');

$font-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$font-display: 'Mountains of Christmas', $font-serif;
$font-default: $font-sans-serif;